{%- assign pages_to_add_as_tiles = site.pages -%}
<div class="page-tiles page-tiles-community">
  <div class="page-tiles-container">
    <div class="page-tiles-list" style="--tile-cols: {{ include.col | default: 4 }};">
      {%- for page in pages_to_add_as_tiles -%}
      {%- if page.type == include.type %}
      <a href="{{ page.url | relative_url }}" class="page-tile-link">
          <div class="page-tile-item">
            <div class="page-tile-content">
              <h3 class="page-tile-title" style="margin-top: 0.0rem">{{ page.title }}</h3>
              {% if page.description %}
              <p class="page-tile-description">{{ page.description }}</p>
              {% endif %}
            </div>
          </div>
      </a>
      {% endif %}
      {%- endfor -%}
    </div>
  </div>
</div>

