{%- assign pages_to_add_as_tiles = site.pages -%}
<div class="page-tiles">
  <div class="page-tiles-container">
    <div class="page-tiles-list" style="--tile-cols: {{ include.col | default: 4 }};">
      {%- for page in pages_to_add_as_tiles -%}
      {%- if page.type == include.type %}
      <a href="{{ page.url | relative_url }}" class="page-tile-link">
          <div class="page-tile-item">
            <div class="page-tile-content">
              <h3 class="page-tile-title" style="margin-top: 0.0rem">{{ page.title }}</h3>
              {% if page.description %}
              <p class="page-tile-description">{{ page.description }}</p>
              {% endif %}
            </div>
          </div>
      </a>
      {% endif %}
      {%- endfor -%}
    </div>
  </div>
</div>

<style>

  .page-tiles-list {
    display: grid;
    grid-template-columns: repeat(var(--tile-cols, 4), 1fr);
    gap: 20px;
  }

  @media (max-width: 992px) {
    .page-tiles-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 600px) {
    .page-tiles-list {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .page-tile-link {
    text-decoration: none;
    color: inherit;
    display: flex;
  }

  .page-tile-item {
    border-radius: 12px;
    padding: 25px;
    transition: all 0.3s ease;
    background: #f0f3fa;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ffffff;
    color: #012152;
  }

  .page-tile-item:hover {
    background: #012152;
    color: #ffffff;
    transform: translateY(-4px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    border: 1px solid #000000;
  }

  .page-tile-title {
    color: inherit;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 8px;
  }

  .page-tile-description {
    color: inherit;
    font-size: 0.9rem;
    line-height: 1.5;
    flex-grow: 1;
  }

</style>