{%- if include.yaml %}
{%- assign tiles = site.data.tiles[include.target] %}
{% else %}
{%- assign tiles = page[include.target] %}
{%- endif %}
<div class="page-tiles">
  <div class="page-tiles-container">
    <div class="page-tiles-list" style="--tile-cols: {{ include.col | default: 2 }};">
      {%- for item in tiles %}
      {%- if item.title %}
      <a href="{{ item.url | relative_url }}" class="page-tile-link">
        <div class="page-tile-item">
          <div class="page-tile-content">
            <h3 class="page-tile-title" style="margin-top: 0.0rem">{{ item.title }}</h3>
            {%- if item.description %}
            <p class="page-tile-description">{{ item.description }}</p>
            {%- endif %}
          </div>
        </div>
      </a>
      {%- endif %}
      {%- endfor %}
    </div>
  </div>
</div>